.DataGrid-clientify{
  display: flex;
  width: 100%;
  // height: 488px;
  height: 513px;
  margin-top: 16px;
  padding: 32px 32px 0px 32px;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 10px;
  // background: yellow;
  background: var(--Surface-Modal, #FFF);

  // cajon contenedor facturas
  .DataGrid-clientify_BoxFilter{
    display: flex;
    max-height: 100%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    align-self: stretch;
    // background: orangered;

    .DataGrid-clientify_BoxFilter-children{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;


      //Box of factures
      .BoxFilter-boxfilter2{
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-self: stretch;
        // background: red;

        .BoxFilter-boxfilter2-children1{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 8px;
        }
        .BoxFilter-boxfilter2-children2{
          display: flex;
          align-items: center;
          gap: 12px;

          // box icon
          .boxfilter2-children-icon1{
            display: flex;
            align-items: flex-start;

            .box-icon-1{
              display: flex;
              padding: var(--Spacing-XSmall, 4px);
              justify-content: center;
              align-items: center;
              gap: 8px;
              border-radius: var(--Radius-Small, 4px);
              background: var(--interactive-icon-frame-default, rgba(255, 255, 255, 0.00));
            }
            
            

          
          }
          // box search
          .boxfilter2-children-icon2{
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .box-icon-2{
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              border-radius: var(--Radius-Small, 4px);

              .box-icon-2-children{
                display: flex;
                height: 35px;
                width: 260px !important;
                padding: 8px 8px 8px 16px;
                // align-items: center;
                justify-content: space-between;
                gap: 8px;
                border-radius: var(--Radius-Small, 4px);
                background: var(--searchbar-frame-default, #F4F4F4);
                // background: yellowgreen;
              }
            }
          }
        }

        .BoxFilter-boxfilter2-children3{
          display: flex;
          align-items: center;
          gap: 32px;
          // background: red;

          .BoxFilter-children3-content{
            display: flex;
            align-items: center;
            gap: 8px;

            .BoxFilter-children3-content-boxes{
              display: flex;
              align-items: center;
              gap: 4px;
              // background: yellowgreen;
            }
          }
          .BoxFilter-children3-button{
            // padding: var(--Spacing-Small, 0px);
            display: flex;
            padding: var(--Spacing-Small, 8px);
            justify-content: center;
            align-items: center;
            gap: 8px;
            border-radius: var(--Radius-Small, 4px);
            background: var(--button-primary-frame-default, #0067EE);
            height: 35px;
            width: 60px;
            color: var(--button-primary-text-icon-default, #FFF);
            /* Title/Medium */
            font-family: Poppins;
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 19px; /* 135.714% */
            text-transform: none; // Agrega esta línea
          }

        }
      }
    }
  }



}

.box-popover-invoice{
  // background: yellow;
  .box-children-popover{
    display: flex;
    padding: var(--Spacing-Medium, 16px);
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 457px;
    top: 408px;
    border-radius: var(--Radius-Small, 4px);
    background: #FFF;
    background: yellowgreen;
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.10);

  }
}

// box data grid
.DataGrid-clientify-box1{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  // background: yellowgreen;
}

.Footer-DataGrid-father{
  display: flex;
  width: 115%;
  // padding: 16px 24px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  border-top: 0px solid var(--Divider-External, white);
  // background-color: red;

  .Footer-DataGrid-child{
    display: flex;
    align-items: center;
    gap: 8px;
    // background: grey;
    .Box-row-footer-1{
      display: flex;
      align-items: center;
      gap: 8px;
      .Box-row-footer-children1{
        display: flex;
        padding: var(--Spacing-XSmall, 4px);
        justify-content: center;
        align-items: center;
        gap: 4px;
      }
    }
    .Box-row-footer-2{
      display: flex;
      align-items: center;
    }
  }
}

.Icon-arrow-direction{
  width: var(--Frame-Large, 20px);
  height: var(--Frame-Large, 20px);
  fill: var(--interactive-icon-frame-default, rgba(255, 255, 255, 0.00));
}
.Icon-arrow-bottom{
  width: var(--Frame-Small, 16px);
  height: var(--Frame-Small, 16px);
  fill: var(--interactive-icon-frame-default, rgba(255, 255, 255, 0.00));
}

.Box-Data-grid-header{
  display: flex;
  padding-right: 36px;
  align-items: center;
  // background: blueviolet !important;
}
.Box-Data-grid-celdas{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  align-self: stretch;
  // background-color: rgb(230, 147, 39);
  overflow: hidden; /* Oculta el contenido que exceda los límites */
  text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  white-space: wrap; /* Evita que el texto se ajuste a múltiples líneas */
  
}

.box-badge{
  // background: yellowgreen;
  width: 20px;

}