.Box-ResourcesHomeDrawer-father {
  width: 308px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  align-self: stretch;
  background: var(--Surface-Modal, #FFF);
  box-shadow: -4px 0px 10px 0px rgba(0, 0, 0, 0.10);

  .ResourcesHomeDrawer-childrens2 {
    align-self: stretch;
    border-radius: 4px;
    background: var(--Accordeon-Surface, #F4F4F4);
    box-shadow: none;
    border-top: none;
    position: unset;
    gap: 8px;

    .Accordion-box-Header {
      height: 22px;
      display: flex;
      align-items: center;
      align-self: stretch;
    }

    .Accordion-box-content {
      margin: 16px;
      padding: 12px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
      align-self: stretch;
      border-radius: var(--Radius-Small, 4px);
      background: var(--Surface-Modal, #FFF);

      .Accordion-box-content-childrens {
        height: 19px;
        display: flex;
        align-items: center;
        // justify-content: space-between; // Asegura que el contenido y la flecha estén en los extremos
        gap: 8px;
        align-self: stretch;

        .Accordion-box-content-inner {
          display: flex;
          align-items: center;
          gap: 4px; // Espacio pequeño entre el texto y el "New", como en ResourcesHome
          flex-grow: 1; // Permite que ocupe el espacio disponible antes de la flecha
          justify-content: space-between; // Asegura que el contenido y la flecha estén en los extremos
        }
      }
    }
  }

  .child-box-new {
    display: flex;
    min-width: 18px;
    padding: 0px var(--Spacing-XXsmall, 2px); // Padding igual que ResourcesHome
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: var(--Radius-Xsmall, 2px); // Bordes redondeados igual que ResourcesHome
    background: var(--Badge-New, #0067EE); // Fondo azul igual que ResourcesHome
    color: #fff; // Texto blanco para contraste, como en ResourcesHome
  }
}