/* Planes de suscripcion  */
.Subscription-header{
  display: flex;
  // flex: 1 0 0;
}


/* Subscription-plans 0149 */
.Subscription-plans{
 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-width: 310px;
  width: 100%;
  padding: 32px;
  height: 251px;
  gap: 16px;
  flex-grow: 1;
  flex-shrink: 0; /* Permite que se reduzcan si es necesario */
  border-radius: 10px;
  background: var(--Surface-Modal, #FFF);
  // background: red;
}

.Subscription-plans-boxes1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  min-width: 276px;
  height: 82px;
  // background: blueviolet;

  .box-childrenboxes-grandson1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    // background: yellow;
  
  }
  
}
.Subscription-plans-boxes2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  height: 89px;
  justify-content: space-between;
  // background: blueviolet;

  .box-childrenboxes-grandson2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    // background: red;
  }
}

.Subscription-plans-boxes-children1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;

  
}


@media only screen and (min-width: 1400px) and (max-width: 1600px) {
  .Subscription-plans{
    min-width: 290px;
    width: 100%;
    flex-grow: 1;
    flex-shrink: 0; /* Permite que se reduzcan si es necesario */
   
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .Subscription-plans{

      min-width: 300px;
      width: 320px;
      gap: 16px;
      flex-grow: 1;
      flex-shrink: 0; /* Permite que se reduzcan si es necesario */
      // background: red; 
    }
}
