/* Planes de suscripcion  */
.Subscription-header{
  display: flex;
  flex: 1 0 0;
}


/* Subscription-plans 0149 */
.Subscription-plans{
 
  display: flex;
  width: 340px;
  height: 251px;
  padding: 32px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--Surface-Modal, #FFF);
}

.Subscription-plans-boxes{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
  width: 276px;
}

.Subscription-plans-boxes-children1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}